<div class="container">
    <div>
        <canvas #canvasElement width="500" height="500" (click)="onCanvasClick($event)" (mousemove)="onMouseMove($event)" (dragover)="onDragOverCanvas($event)" (drop)="onDropCanvas($event)"></canvas>
    </div>    
    <div class="tropes">
        <div class="tropaSeleccionadaStats">
            <p>HEALTH: {{ statsTropa.salut }}</p>
            <p>ATTACK: {{ statsTropa.atac }}</p>
            <p>DEFENSE: {{ statsTropa.defensa }}</p>
            <p>FIABILITY: {{ statsTropa.fiabilitat }}</p>
            <p>MÀGIA: {{statsTropa.magia}}</p>
        </div>
        <div class="grid">
            <div *ngFor="let tropa of tropes">
                <div class="tropadiv" draggable="true" (dragstart)="onDragStart($event, tropa)" *ngIf="!tropa.jugada">
                    <div class="imagediv">
                      <img class="soldat_img" src="../../../assets/Imatges/aSoldier.png">
                    </div>
                  <div class="statsTropa">
                      <p>Salut: {{ tropa.salut }}</p>
                      <p>Defensa: {{ tropa.defensa }}</p>
                      <p>Atac: {{ tropa.atac }}</p>
                      <p>Fiabilitat: {{ tropa.fiabilitat }}</p>
                      <p>Màgia: {{ tropa.magia }}</p>
                  </div>
              </div>
            </div>
          </div>
          
        <div class="botons_moure">
            <button class="moviments_btn" (click)="moureTropa('amunt')"><img class="moviments" src="../../../assets/Imatges/Up.png"></button>
            <button class="moviments_btn" (click)="moureTropa('avall')"><img class="moviments" src="../../../assets/Imatges/Down.png"></button>
            <button class="moviments_btn" (click)="moureTropa('esquerra')"><img class="moviments" src="../../../assets/Imatges/Left.png"></button>
            <button class="moviments_btn" (click)="moureTropa('dreta')"><img class="moviments" src="../../../assets/Imatges/Right.png"></button>
        </div>
        <div class="botons_diagonal">
            <button class="moviments_btn" (click)="moureTropa('diagonal_superior_esquerra')"><img class="moviments" src="../../../assets/Imatges/up_left.png"></button>
            <button class="moviments_btn" (click)="moureTropa('diagonal_inferior_esquerra')"><img class="moviments" src="../../../assets/Imatges/down_left.png"></button>
            <button class="moviments_btn" (click)="moureTropa('diagonal_superior_dreta')"><img class="moviments" src="../../../assets/Imatges/up_right.png"></button>
            <button class="moviments_btn" (click)="moureTropa('diagonal_inferior_dreta')"><img class="moviments" src="../../../assets/Imatges/down_right.png"></button>
        </div>
        <div class="bomba">
            <button><img class="moviments" src="../../../assets/Imatges/Bomb.webp"></button>
        </div>
    </div>
</div>